.app-window {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--charcoal-color-dark-neutral--10);
  border-radius: var(--radius-lg);
  overflow: hidden;
  border: 1px solid var(--charcoal-color-container-secondary-default);
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
